
<table id="t_correo" name="t_correo" class='table table-striped table-hover table-bordered'>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Destinatario</th>
            <th>Asunto</th>
            <th>Mensaje</th>
        </tr>
    </thead>
    <tbody>
    {% for m in datas %}
        <tr>
            <td>{{ m['fecha'] }}</td>
            <td>{{ m['hora'] }}</td>
            <td>{{ m['nombreusuario'] }}</td>
            <td>{{ m['asunto'] }}</td>
            <td>{{ m['mensaje'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>